@import "variables.css";
@import "../../node_modules/@fontsource/raleway/500.css";
@import "../../node_modules/@fontsource/roboto/500.css";
@import "../../node_modules/@fontsource/roboto/700.css";
@import "../../node_modules/@fontsource/roboto/400.css";

/* Reset CSS Start */
*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

html {
  box-sizing: border-box;
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}
/* Reset CSS End */

.text-landing-primary {
  color: var(--color-landing-primary);
}

.btn-landing-primary {
  background-color: var(--color-landing-primary);
  color: var(--color-white);
}

.btn-landing-primary:hover {
  background-color: var(--color-landing-primary);
  color: var(--color-white);
}

.btn-outline-landing-primary {
  color: var(--color-landing-primary);
  background-color: var(--color-white);
  border-color: var(--color-landing-primary);
}

.btn-outline-landing-primary:hover {
  color: var(--color-white);
  background-color: var(--color-landing-primary);
  border-color: var(--color-landing-primary);
}

a.text-landing-primary:hover {
  color: var(--color-landing-primary);
  text-decoration: underline;
}

.custom-text-muted {
  color: var(--color-muted) !important;
}

.border-landing-primary {
  border-color: var(--color-landing-primary);
}

.opacity-50 {
  opacity: 0.5 !important;
}

.custom-bg-dark {
  background-color: rgba(24, 28, 33, 0.9) !important;
}

.authentication-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  width: 100%;
}

.authentication-wrapper .authentication-inner {
  width: 100%;
}

.authentication-wrapper.authentication-3 {
  align-items: stretch;
  justify-content: stretch;
}

.authentication-wrapper.authentication-3 .authentication-inner {
  display: flex;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: stretch;
}

.register-bg {
  background-image: url("../assets/register-img.jpg");
}

.ui-bg-cover {
  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-size: cover;
}

.ui-bg-overlay-container {
  position: relative;
}
.ui-bg-overlay-container > * {
  position: relative;
}

.ui-bg-overlay-container .ui-bg-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .authentication-wrapper::after {
    content: "";
    display: block;
    flex: 0 0 0%;
    min-height: inherit;
    width: 0;
    font-size: 0;
  }
}
